<div class = 'postInputForm'>
<p>
  <strong>Author:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<%if current_user%>
<%if comment.user_id == current_user.id%>
<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
<% end %>
</div>
<% end %>
