<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
<%= hidden_field_tag(:commenter, current_user.username()) %>
  <p>
    <%= form.label  :Message %><br>
    <%= form.text_area :body %>
  </p>
  <p>
     <%= form.submit%>
  </p>
<% end %>
