<h1>
<%= @category&.name || "All "%> posts
</h1>



<div class = "posts">
  <% if @category%>
  <%= link_to "All posts", articles_path%>
  <% end%>

  <%= link_to 'New article', new_article_path %>
<table>
  <tr>
  <th>Category</th>
    <th>Title</th>
    <th>Text</th>
    <th>Author</th>
    <th></th>
  </tr>

  <% @articles.each do |article| %>

    <tr class = 'postsTable'>

        <td><%= link_to article.category.name, category_articles_path(category_handle: article.category.handle)  %></td>
      <td><%= article.title %></td>
      <%if article.text.length >=150 %>
      <td><%= article.text[0...150]...%></td>
      <% else %>
      <td><%= article.text %></td>
      <% end%>
      <td><%= article.user.username %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
        <%if current_user %>
      <%if article.user_id == current_user.id%>
       <td><%= link_to 'Edit', edit_article_path(article) %></td>
       <td><%= link_to 'Destroy', article_path(article),
             method: :delete,
             data: { confirm: 'Are you sure?' } %></td>
             <% end %>
             <% end %>
   </tr>

  <% end %>
</table>
</div>
