<div class = postInputForm>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
<strong>Author:</strong>
<%= @article.user.username %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
</div>
<h2>Comments</h2>
<%= render @article.comments %>


<%if !current_user%>
<h4>Login to add a comment</h4>
<% else %>
<h2>Add a comment:</h2>
<%= render 'comments/form' %>
 <%if @article.user_id == current_user.id%>
 <%= link_to 'Edit', edit_article_path(@article) %> |

<% end %>
<% end %>


<%= link_to 'Back', articles_path %>
