body{
  text-align: center;
}
.postsTable
{

  text-align: left;
}
.postsTable
{
  border-collapse: separate;
 border-spacing: 10px 0;
}
td {
  padding-left: 15px;
}
tr{
   border-bottom: 1px solid grey;
}
.posts{
  width: 50%;
  display: inline-block;

}
