<!DOCTYPE html>
<html>
  <head>
    <title>Simple blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <nav class="navbar navbar-light bg-light">
<h4>Ruby entrance blog</h4>
    <div class = 'navbarCategories'>
      <% Category.all.each do |c| %>
      <%= link_to c.name, category_articles_path(category_handle: c.handle) %>
<%end %>
      </div>
      <div class = 'navbarСontent'>
      <% if current_user %>
       <span>Hi, <%= current_user.username%>!</span>
       <%= link_to 'Log Out', destroy_user_session_path, :method => :delete %>
      <% else %>
      <%= link_to "Sign Up", new_user_registration_path %>
      <%= link_to "Sign In", new_user_session_path %>
      <% end%>


</div>
</nav>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
